@page "/admin/classes"

@model FunFox.Pages.Admin.Course.ViewClassesModel


<div style="display: flex; justify-content: flex-end; padding: 18px">
    <a href="/admin/class/add" class="btn btn-primary">Add</a>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Class Size</th>
                <th scope="col">Student Count</th>
                <th scope="col">Created By</th>
                <th scope="col">Created At</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PageableResponse != null && Model.PageableResponse.Records.Any())
            {
                 @foreach(var record in Model.PageableResponse.Records)
                 {
                     <tr>
                         <th scope="row">@record.Id</th>
                         <td>@record.Title</td>
                         <td>@record.ClassSize</td>
                         <td>@record.StudentCount</td>
                        <td>@record.CreatedBy</td>
                        <td>@record.CreatedAt.ToString("F")</td>
                        <td>
                            <div style="display: flex; gap: 10px; align-items: center">
                                <a href="/admin/class/edit/@record.Id">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <form action="/class/delete/@record.Id" method="post" id="deleteForm-@record.Id">
                                    <button type="submit" onclick='return DeleteClass(@record.Id);' class="deleteCode" style="background-color: transparent; border: none;">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                                <i title="view enrolled students" class="fa-regular fa-eye" onclick="ViewEnrolledStudents(@record.Id)" data-bs-toggle="modal" data-bs-target="#myModal"></i>
                            </div>
                        </td>
                     </tr>
                 }
            }
            else
            {
                <tr>
                    <td colspan="7" style="text-align: center">No Record Found</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header float-right">
                <h5>Students Enrolled</h5>
                <div class="text-right">
                    <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i>
                </div>
            </div>
            <div class="modal-body">
                <div style="overflow-x: scroll">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Student Email</th>
                                <th scope="col">Enrolled At</th>
                                <th scope="col">Total Amount</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Final Amount</th>
                                <th scope="col">Transaction Id</th>
                                <th scope="col">Payment Gateway</th>
                            </tr>
                        </thead>
                        <tbody id="modal-table-body">
                            
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
    </div>
</div>


@section Scripts
{
    <script>

        function DeleteClass(id) {

            $.jAlert({
                'title': 'Are you sure you want to delete this class',
                'content': 'Are you sure you want to delete this class',
                'btns': [
                    { 'text': 'Yes', 'closeAlert': true, 'onClick': function () { $(`#deleteForm-${id}`).submit(); } },
                    { 'text': 'No', 'closeAlert': true, 'onClick': function () { } }
                ]
            });

            return false;
        }


        async function ViewEnrolledStudents(id)
        {
            var getStudentListUrl = `/class/${id}/enrolled`;
            debugger;

            var response;
            try {
               var data = {};
                response = await AjaxRequest("POST", getStudentListUrl, data);
                var table = GetTable(response);

                document.getElementById("modal-table-body").innerHTML = table;

                
            // Success
            }
            catch (ex) {
               //Reponse Failed
            }
        }

        function GetTable(enrolledStudents)
        {
            var rows = '';

            for (var i = 0; i < enrolledStudents.length; i++)
            {
                var studentDetail = enrolledStudents[i];

                rows += `<tr>
                            <td scope="row">${studentDetail.studentId}</td>
                            <td> ${studentDetail.studentName} </td>
                            <td>${studentDetail.studentEmail}</td>
                            <td>${studentDetail.enrolledAt}</td>
                            <td>${studentDetail.totalAmount}</td>
                            <td>${studentDetail.discount}</td>
                            <td>${studentDetail.finalAmount}</td>
                            <td>${studentDetail.transactionId}</td>
                            <td>${studentDetail.paymentGateway}</td>
                            </tr>`;
            }

            if (enrolledStudents.length == 0)
            {
                rows += `<tr>
                            <td colspan="10" style="text-align:center"> No student enrolled yet </td>
                </tr>`;
            }

            return rows;
        }
    </script>
}
