@page "/admin/students"
@model FunFox.Pages.Admin.Student.ViewStudentsModel


<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Class Level</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PageableResponse != null && Model.PageableResponse.Records.Any())
            {
                @foreach (var record in Model.PageableResponse.Records)
                {
                    <tr>
                        <th scope="row">@record.Id</th>
                        <td>@record.Name</td>
                        <td>@record.Level</td>
                        <td>@record.Name</td>
                        <td>@record.Email</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" style="text-align: center">No Record Found</td>
                </tr>
            }
        </tbody>
    </table>
</div>